<div class="home">
	<div>
		<div class="pull-left">
			<h1>Timings</h1>
			<table border="1" class="table table-hover table-bordered table-striped timing-table">
			    <thead>
			        <tr>
			            <th><a>{{time.day}}</a></th>
			            <th>Sunday</th>
			            <th>Monday-Thursday</th>
			            <th>Friday</th>
			            <th>Saturday</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr></tr>
			    	<tr>
			    		<td>Timings</td>
			    		<td>12pm - overnight</td>
			    		<td>24 hours</td>
			    		<td>Opens until 7 pm</td>
			    		<td>8.30am - 5.30pm</td>
			    	</tr>
			    </tbody>
			</table>
		</div>
		<div class="address">
			<h1>Address</h1>
			<h4>35 W 33rd St,</h4> 
			<h4>Chicago,</h4>
			<h4>IL 60616</h4>
		</div>
	</div>
	<br>
	<br>
	<div>
		<div class="pull-left">
			<h1>Ask librarian</h1>
			<h4>Contact us with your research questions,</h4> 
			<h4>or ask about library service.Answers will be provided</h4>
	 		<h4>by email or via phone</h4>
		</div>
		<div class="resourceMessage">
			<h1>Evaluating Resources</h1>
			<h4>Access to online resources open a vast amount of</h4> 
			<h4>information to faculty and student but also brings</h4> 
			<h4>new evaluation Responsibility</h4>
		</div>
		<div class="pull-right help">
			<h1>Help</h1>
			<h4>Please provide us with your valuable feedback</h4> 
			<h4>and help us improve</h4>
		</div>
	</div>
	<br>
	
	
</div>
