<div>
	<h1>Request Admin for Book</h1>
	<br>
	<div class ="requestTable">
		<table border="1" class="table table-hover table-bordered table-striped timing-table">
		    <thead>
		        <tr>
		            <th>Book Name</th>
		            <th>ISBN</th>
		            <th>Remove</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="book in requestBook  track by $index">
	    			<td>{{book.bookName}}</td>
	    			<td>{{book.isbn}}</td>
	    			<td><input type="button" class="btn btn-primary " value="Remove" ng-click="removeBook($index)" /></td>
	    		</tr>
		    </tbody>
		</table>
	</div>
	<div class="pull-right requestBookBtn">
		<input type="button" class="btn btn-primary " value="Request Book" ng-click="bookRequest()" />
	</div>
</div>
