<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
	<head>
		<title>Brad Pitt's Movie Quiz</title>
   		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   		<link data-require="font-awesome@*" data-semver="4.0.3" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
		<link href="resources/style/style.css" rel="stylesheet" />
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script> 
    	<script src="resources/controller/app.js"></script>
    	<script src="resources/controller/controller.js"></script>
    	<script src="resources/controller/service.js"></script>
	</head>
	<body class="container index" ng-controller="indexController">
		<h1 class="heading">The Movie Quiz</h1>
		<br>
		<div >
			<nav class="navbar navbar-inverse index-nav">
			  	<div class="container-fluid">
		      		<ul class="nav navbar-nav allLink">
		        		<li class="linklist"><a ui-sref = "quiz" class="linka">Quiz</a></li>
		        		<li class="linklist"><a ui-sref = "answer" class="linka">Answer</a></li>
		      		</ul>
				</div>
			</nav>
		</div>
		<br>
		<div>
		   	<div ui-view></div>
	   	</div>
	</body> 
</html>