.container{
	width: 100%;
	margin: 0;
}

.header{
	text-align: center;
}

.navbar-inverse{
	top: 50px;
}

.container-fluid{
	background-color: #376092;	
}

.option1, .option3{
	font-size: 20px; 
	color: white !important;
	margin-left:10%;
	cursor: pointer; 
	cursor: hand;
}

.option2{
	font-size: 20px; 
	color: white !important;
	margin-left:10%;
	width: 113px;
	cursor: pointer; 
	cursor: hand;
}

.option4{
	font-size: 20px; 
	color: white !important;
	margin-left:10%;
	width: 150px;
	cursor: pointer; 
	cursor: hand;
}

.authenticated{
	font-size: 20px; 
	color: white !important;
	margin-left:10%;
	width: 175px;
}

.login, .logout{
	font-size: 20px; 
	color: white !important; 
	cursor: pointer; 
	cursor: hand;
}

.bannerbody{
	width: 100%;
}

.sidebar{
	float: left;
    width: 20%;
    margin-top: 10px;
    display: block;
}

.sidebar h3{
	padding-bottom: 0;
    font-size: 20px;
    color: #fff;
    /* text-transform: uppercase; */
    font-weight: normal;
    padding: 7px 7px;
    /* border-bottom: 1px solid #A31923; */
    border-bottom: 1px solid #376092; 
    /* background-color: #DE2D3A; */
    background-color: #376092;
    margin-bottom: 20px;
    line-height: 1.9em;
}

.sildebar ul{
	margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    display: block;
    border-top: none;
    padding: 7px;
    margin: 0;
    line-height: 1.5em;
    font-size: 20px;
}

.rightSide{
	float: right;
	width: 70%;
}

.modal-header h1{
	text-align: center;
}

.loginSubmit{
	margin-bottom: -5px;
	margin-top: 25px;
}

.modal-footer .signUp{
	margin-right: 40%;
}

.signupInput{
	width: 70%;
    float: right;
    margin-right: 51px;
}
.signupLabel{
	margin-left: 13px;
    margin-top: 5px;
}
.errorMsg{
    margin-left: 30%;
    margin-top: 7px;	
}

.loginErrorMsg{
	color: red;
}
   
.productInput{
	width: 50%;
	float: right;
	margin-right: 40%;
}

.paginationArrow{
	height: 35px;
}

.homeTable{
	margin-top: 3%;
	width: 80%;
}

.homeBtn{
	float: right;
}

.paginationAlign{
	margin-right: 40%;
}

.searchCheckout{
	margin-bottom: -25px;
}

.addToCart{
	margin-right: 10px 
}

.payment{
	margin-left: 30%;
	margin-top: 3%;
}

.paymentExpiry{
	margin-top: 2%;
	float: left;
	margin-bottom: 2%;
}

.paymentCVV{
	width:35%;
	margin-left: 19%;
	
}

.homeImage{
	width: 100px;
	height: 75px;
}

.deleteAddress{
	margin-right: 20%;
	margin-top: 3%;
}

.addProduct{
	margin-left: 3%;
}