<!-- <div ng-controller="cartController"> -->
<div class="modal-header">
	<h1>Cart</h1>
</div>
<div class="modal-body">
	<form role="form">
        <table border="1" class="table table-hover table-bordered table-striped cartTable">
        	<thead>
        		<tr>
        			<th>Product Name</th>
        			<th>Quantity</th>
        			<th>Price</th>
        			<th>Total Price</th>
        		</tr>
        	</thead>
            <tbody>
                <tr ng-repeat= "c in finalOrder">
                	<td>{{c.productName}}</td>
                	<td><input type="text" name="quantity" id="quantity" class="form-control" ng-model="c.quantity" ng-change = "calculate(c.productId, c.quantity, c.price, $index)"/></td>
                	<td>{{c.price}}</td>
                	<td>{{c.totalPriceForThatProduct}}</td>
                </tr>
            </tbody>
        </table>
    </form>
    <div>
    	<label for="username" class="addproductLabel">Grand Total: </label>
		<span>{{order.totalPRICE}}</span>
    </div>
</div>
<div class="modal-footer">
	<button type="submit"  class="btn btn-primary" ng-click="proceedToPayment()">Proceed To Payment</button>	
</div>
<!-- </div> -->